


<h1 class="page-header">
Asset: <small> <%= File.basename(@user_asset.file_name.to_s) %> 
        <% if @user_asset.needs_review %>
          <span style="color:red"> <%= "Needs Review"  %></span>
        <% end %>
          <%= link_to "Edit", edit_user_asset_path(@user_asset)%></small>
</h1>
<div class="row">
  <div class="span8">
    <div class="row">
      <div id="preview" class="span8">
        <%= display_asset(@user_asset) %>
      </div>
    </div>

    <div class="row">
      <div class="span8">
        Notes Down here
      </div>
    </div>
  </div>
    <div id="metadata" class="span4" >

        <%= simple_form_for @user_asset,
          :url => url_for(:action => 'update_meta_data', :controller => 'user_assets'),
          :method => 'post', :html => {:class => "zform-horizontal"}  do |f| %>

        <ul class="unstyled">

          <% @user_asset.meta_data_groups.each do |group| %>
            <li>
              <%=render :partial => 'meta_data_fields/fields_form', :locals => { :f => f, 
              :fields => group.meta_data_fields,
              :group => group } %>

            </li>
          <% end %>
        </ul>
          <%= f.button :submit %>
        <% end %>
    </div>
</div>


