



<div class="row">
  <div class="span2">
    <div id="meta_nav" class="picker">
      <p>
  <b>File Name:</b>
  <%= File.basename(@user_asset.file_name.to_s) %>
</p>



    <h3>Metadata</h3>
    <ul class="nav nav-list">
      <li class="nav-header">FAR <span class="smallish">Corpus</span></li>

      <% @user_asset.meta_data_groups.each do |group| %>
        <li><a href="#"><i class="icon-list"></i><%= group.name%></a></li>
         <% end %>
        </ul>
      </div>
      </div>

      <div id="metadata" class="span4" data-spy="scroll">

        <%= simple_form_for @user_asset,
          :url => url_for(:action => 'update_meta_data', :controller => 'user_assets'),
          :method => 'post' do |f| %>



          <% @user_asset.meta_data_groups.each do |group| %>
            <%=render :partial => 'meta_data_fields/fields_form', :locals => { :f => f, 
              :fields => group.meta_data_fields,
              :group => group } %>
          <% end %>

          <%= f.button :submit %>

        <% end %>


    </div>

    <div id="preview" class="span6">
    <%= display_asset(@user_asset) %>
  </div>

    <div id="tracks" class="span6" style="float:right">
      tracks here
    </div>

  </div>
</div>


<script>

$('#meta_nav').scrollspy();
</script>
