



<h1 class="page-header">
  Asset: <small> <%= File.basename(@user_asset.file_name.to_s) %></small>

</h1>

<div class="row">
  <div class="span8">
    <div class="row">
      <div id="preview" class="span8">
        <%= display_asset(@user_asset) %>
      </div>
    </div>

    <div class="row">
      <div class="span8">
        <a href="https://docs.google.com/document/d/1usIFgwqfxNlpjjLzWUX6wAR5lBPImrENXBhgYO_0FKE/edit" target="blank" >Edit</a>        
        <iframe frameborder='0' src="https://docs.google.com/document/pub?id=1xr5ZgSC9RqLgD6XxxjEMLMyj2KqoPguFlMQbi3JylCM" width="780" height="400px"></iframe>
      </div>
    </div>
<iframe width='780' height='400' src="https://docs.google.com/document/pub?id=1VmyAStxEAlV8hX-5GL9QuCUqZ7GwmC6Wm_2fkTVBW1M"></iframe>
    <iframe width='780' height='400' frameborder='0' src='https://docs.google.com/spreadsheet/pub?key=0AgBGulkvUXd9dFIwQmZNQzJPXzlIMnpjMDZmYUJqbXc&output=html&widget=true'></iframe>
  </div>
    <div id="metadata" class="span4" >

        <%= simple_form_for @user_asset,
          :url => url_for(:action => 'update_meta_data', :controller => 'user_assets'),
          :method => 'post', :html => {:class => "zform-horizontal"}  do |f| %>

        <ul class="unstyled">


          <% @user_asset.meta_data_groups.each do |group| %>
            <li>
              <%=render :partial => 'meta_data_fields/fields_form', :locals => { :f => f, 
              :fields => group.meta_data_fields,
              :group => group } %>

            </li>
          <% end %>
        </ul>
          <%= f.button :submit %>
        <% end %>
    </div>
</div>


