


<h1 class="page-header">
Asset: <small> 
  <%= simple_form_for @user_asset, :remote => true do |f| %>
    <%= f.input :title, :placeholder => File.basename(@user_asset.file_name.to_s), :label => false %>
    <%= f.input :needs_review, :as => :hidden, :input_html => {:disabled => 'disabled', :class => 'review_field', :value => !@user_asset.needs_review } %>

      <a href="#" id="review_button" data-toggle="button" class="<%= "btn #{' btn-danger active' if @user_asset.needs_review}" %>"><%= @user_asset.needs_review ? "Needs Review" : "Mark for Review"%></a>
    <% end %>
</h1>
<div class="row">
  <div class="span8">
    <div class="row">
      <div id="preview" class="span8">
        <%= display_asset(@user_asset) %>
      </div>
    </div>

    <div class="row">
      <div class="span8">
        Notes Down here
      </div>
    </div>
  </div>
    <div id="metadata" class="span4" >

        <%= simple_form_for @user_asset,
          :url => url_for(:action => 'update_meta_data', :controller => 'user_assets'),
          :method => 'post', :html => {:class => "zform-horizontal"}  do |f| %>

        <ul class="unstyled">

          <% @user_asset.meta_data_groups.each do |group| %>
            <li>
              <%=render :partial => 'meta_data_fields/fields_form', :locals => { :f => f, 
              :fields => group.meta_data_fields,
              :group => group } %>

            </li>
          <% end %>
        </ul>
          <%= f.button :submit %>
        <% end %>
    </div>
</div>

<script>
  $('.edit_user_asset').bind('ajax:success', function(){
    $('.review_field').attr('disabled', true);
    
    $('#user_asset_title').parents('.control-group').addClass('success');
});

$("#review_button").bind('click', function(){
  var button = $("#review_button");
  button.toggleClass('btn-danger');

  if (button.hasClass('active')) {
    button.text('Needs Review');
    $('.review_field').val('f');
  } else {
  button.text('Request Review');
  $('.review_field').val('t');

 }
 $('.review_field').removeAttr('disabled');
 $('.edit_user_asset').submit();
});
</script>

