<%= simple_form_for(@template) do |f| %>
  <% if @template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% @template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :name, :input_html => { :value => @template.name_or_id } %>

    <%= f.association :meta_data_groups %>

    <%= render :partial => 'meta_data_fields/fields_form', :locals => { :f => f, :object => @template, :fields => @meta_data_fields } %>

    <%= f.button :submit %>
<% end %>
