<p id="notice"><%= notice %></p>

<p>
  <b>Template Name:</b>
  <%= @template.name_or_id %>
</p>

<p>
  <b>Template Meta Data Group:</b>
  <%= @template.meta_data_group ? @template.meta_data_group.name : "Not Assigned" %>
</p>

<p>
  <b>Associated Projects:</b>
  <ul>
    <% @template.projects.each do |p| %>
      <li><%= p.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>Template Media:</b>
  <ul>
    <% @template.document.media_descriptors.each do |media| %>
      <li><%= media[:media_url] %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>Template Tiers:</b>
  <ul>
    <% @template.document.tiers.each do |tier| %>
      <li><%= tier[:tier_id] %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
