
<div class="row">

  <div id="picker" class="span2">
    picker
  </div>

  <div id="metadata" class="span4">
    forms
  </div>

  <div id="tracks" class="span6">

  </div>


</div>

<p>
  <b>Template Name:</b>
  <%= @template.name_or_id %>
</p>

<p>
  <b>Assigned Template Meta Data Groups:</b>
  <% @template.meta_data_groups.each do |group| %>
    <p><%= group.name %></p>
  <% end %>
</p>

<p>
  <b>Associated Projects:</b>
  <ul>
    <% @template.projects.each do |p| %>
      <li><%= p.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>Template Media:</b>
  <ul>
    <% @template.document.media_descriptors.each do |media| %>
      <li><%= media[:media_url] %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>Template Tiers:</b>
  <ul>
    <% @template.document.tiers.each do |tier| %>
      <li><%= tier[:tier_id] %></li>
    <% end %>
  </ul>
</p>

<div class="span10">
  <%= render 'template_meta_data' %>
</div>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
