<%= simple_form_for(@work_document) do |f| %>
  <% if @work_document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_document.errors.count, "error") %> prohibited this work_document from being saved:</h2>

      <ul>
      <% @work_document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.fields_for :documents do |document_form| %>
		<div class="field">
			<%= document_form.file_field :eaf %>
			<%= document_form.hidden_field :eaf_cache %>
		</div>
	<% end %>
  <div class="actions">
    <%= f.button :submit, "Upload Elan Document", :class => 'btn btn-large btn-primary'%>
  </div>
<% end %>
