<div class="row well" style="margin-top: 80px; min-height:200px;">
  <div class="offset2 span6" style="padding-top:50px">
    <div class="row ">
      <div class="offset2 span3">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
<% @templates.each do |template| %>
  <div class="page-header">
		<h2>
      <%=link_to template.name_or_id, download_document_path(template.document) %>
    </h2>
  </div>

  <div class="row">
		<div class="span2">
      <h4>Tiers</h4>
      <ul>
        <% template.work_documents.first.document.tiers.each do |tier| %>
          <li><%= tier[:tier_id] %></li>
        <% end %>
      </ul>
    </div>

    <div class="span4">
      <h4>Media</h4>
      <ul>
        <% template.work_documents.first.document.media_descriptors.each do |media_descriptor| %>
          <li><%= media_descriptor[:media_url] %></li>
        <% end %>
      </ul>
    </div>

    <div class="span5">
      <h4>Recent Uploads</h4>
      <% template.work_documents.order("created_at DESC").limit(3).each do |work_document| %>
        <ul>
          <li class="document-list-item">
          <%=link_to "#{work_document.user.full_name} #{work_document.created_at.strftime('%m/%d/%Y %H:%M:%S')}" , download_document_path(work_document.document), 
            :id => File.basename(work_document.document.eaf.to_s), :class => 'download-work_document' %> 

          <%=link_to "", work_document, :class=> 'icon-eye-open view-work_document-link', :id => File.basename(work_document.document.eaf.to_s) %>
          </li>
        </ul>
      <% end %>
      </div>
		</div>
	</fieldset>
<% end %>
