<div class="row">
<div class="span6">
<h1>Elan</h1>
        <%= render 'form' %>
  </div>
  
  <div class="span6 ">
  <h1>Data</h1>
    <%= simple_form_for UserAsset.new, :multipart => true do | asset_form | %>

      <%= asset_form.input :file_name, :label => false %>
  <div class="actions">
  <%= asset_form.submit "Upload Asset", :class => 'btn btn-primary' %>
  </div>

    <% end %>
  </div>
  </div>


<div class="row" id="reviews" %>
  <div class="span6" id="templates_to_review">
    <h2>Templates that need Review</h2>
    <% @templates_to_review.each_with_index do |template, t_index| %>
      <div class="row">
        <div class="span6" style="overflow-x:hidden">
          <%= render :partial => template, :locals => {:t_index => t_index} %>
        </div>
      </div>
    <% end %>
          <script>
        $(function() {
          $('#templateTabs').tab('show');
          $(".collapse").collapse();
        });
    </script>

  
  </div>

  <div class="span6" id="assets_to_review">
    <h2>Assets that need Review</h2>
    <ul>
      <% @assets_to_review.each do |asset| %>
        <li>
          <%= link_to asset.name, asset %>
        </li>
      <% end %>
    <ul>
  </div>

</div>



</div>


