<%= form_for(@document) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :document_project %>
    <%= collection_select(:project, :project_id, @projects, :id, :project_name, 
      @selected_project.blank? ? {:prompt => "Please select"} : {:selected => @selected_project.id}) %>
  </div>

    <div class="field">
      <% if @document.eaf? %><p>Current Document: <%= File.basename(@document.eaf.to_s) %></p><% end %>
      <%= f.file_field :eaf %>
      <%= f.hidden_field :eaf_cache %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
