<%= simple_form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br /><br />

  <div class="field">
    <%= f.label :name %>
    <br />
    <%= f.text_field :name, :value => @project.name %>
  </div>

  <div class="field">
    <%= f.label :Templates %>
    <br />
    <%= collection_select(:templates, :templates, ::Template.all(:order => 'name'), :id, :name, 
    @selected_templates.blank? ? {} : { :selected => @selected_templates.map {|j| j.id} }, { :multiple => true }) %>
  </div>

  <div class="field">
    <%= f.association :meta_data_groups %>
  </div>

  <div class="field">
    <%= render :partial => 'meta_data_fields/fields_form', :locals => { :f => f, :object => @project, :fields => @meta_data_fields } %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
