<h1>Projects</h1>

<%= link_to 'New Project', new_project_path %>

<% @projects.each do |p| %>
  <div class="page-header">
    <h2>
      <%= p.name %>
    </h2>
    <p><%= link_to 'Edit', edit_project_path(p) %> | <%= link_to 'Destroy', p, confirm: "Are you sure?", method: :delete %></p>
  </div>

  <div class="row">
    <div class="span4">
      <h4>Project Templates</h4>
      <% p.templates.each do |t| %>
        <p><%= link_to t.name, template_path(t) %></p>
      <% end %>
    </div>

    <div class="span4">
      <h4>Assigned Meta Data Groups</h4>
      <% p.meta_data_group_assignments.each do |assignment| %>
        <p><%= assignment.meta_data_group.name %></p>
      <% end %>
    </div>
  </div>
<% end %>
