<p id="notice"><%= notice %></p>

<p>
  <b>Project Name:</b>
  <%= @project.project_name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Corpus:</b>
  <%= @project.corpus.name %>
</p>

<p>
  <b>Tier Template:</b>
  <%= File.basename(@project.document.eaf.to_s) %>
</p>

<p>
  <b>Project Tier List</b>
  <ul>
    <% @project.document.tiers.each do |tier| %>
      <li><%= tier[:tier_id] %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
