<p id="notice"><%= notice %></p>

<p>
  <b>Project Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Associated Templates:</b>
  <ul>
    <% @project.templates.each do |t| %>
      <li><%= t.name_or_id %></li>
    <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
