<%= form_for(@work_document) do |f| %>
  <% if @work_document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_document.errors.count, "error") %> prohibited this work_document from being saved:</h2>

      <ul>
      <% @work_document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :work_document_project %>
    <%= collection_select(:project, :project_id, @projects, :id, :project_name, 
      @selected_project.blank? ? {:prompt => "Please select"} : {:selected => @selected_project.id}) %>
  </div>
	<% if @selected_project.blank? or @work_document.errors.any? %>
		<%= f.fields_for :documents do |document_form| %>
			<div class="field">
				<% if !@work_document.document.nil? and @work_document.document.eaf? %>
					<p>Current Document: <%= File.basename(@work_document.document.eaf.to_s) %></p>
				<% end %>
				<%= document_form.file_field :eaf %>
				<%= document_form.hidden_field :eaf_cache %>
			</div>
		<% end %>
	<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
