<p>
  <b>File Name:</b>
  <%= File.basename(@work_document.document.eaf.to_s) %>
</p>

<% @work_document.media_assets.each do |matches| -%>
  <%= matches[0] %>
  <p>Assets that possibly match:</p>
  <ul>
    <% matches[1].each do |asset| %>
      <li>
        <%= link_to asset.file_name.path,  download_user_asset_path(asset.id) %>
      </li>
    <% end %>
  </ul>
<% end -%>

<div class="row">

<div class="span12">
<div id="viewer"></div>
</div>
</div>

<% if @work_document.ready? %>

  <script>
  $().conBrio( <%= @work_document.document.annotations.to_json.html_safe %>,
              <%= @work_document.document.tiers.to_json.html_safe %>)

  </script>

<% end %>
