<h2>Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.input :email %>

  <%= f.input :password %>

  <% if devise_mapping.rememberable? -%>
    <%= f.input :remember_me, :as => :boolean, :label => false%>
    <%=f.label :remember_me, :class => 'checkbox' %>
  <% end -%>

  <div><%= f.button :submit, "Sign in" %></div>
<% end %>

<%= render "links" %>
