<div class="row card">
  <div class="offset5 span3">
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.input :email %>

    <%= f.input :password %>

    <% if devise_mapping.rememberable? -%>
      <%= f.input :remember_me, :as => :boolean, :label => false, :html =>{ :class => 'span2'}%>
      <%=f.label :remember_me, :class => 'checkbox' %>
    <% end -%>

    <div><%= f.button :submit, "Sign in" %></div>
  <% end %>

  <%= render "links" %>
</div>
</div>
