<h1>Listing corpora</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @corpora.each do |corpus| %>
  <tr>
    <td><%= corpus.name %></td>
    <td><%= corpus.description %></td>
    <td><%= link_to 'Show', corpus %></td>
    <td><%= link_to 'Edit', edit_corpus_path(corpus) %></td>
    <td><%= link_to 'Destroy', corpus, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Corpus', new_corpora_path %>
