  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">

        <%= link_to "Cove", root_path, :class => 'brand'  %>
        <ul class="nav">
          <% if user_signed_in? %>
            <li>
              <%= link_to "Work Documents", work_documents_path %>
            </li>
            <li>
              <%= link_to "Templates", templates_path %>
            </li>
            <li>
              <%= link_to "Projects", projects_path %>
            </li>
            <li>
              <%= link_to "Metadata", meta_data_groups_path %>
            </li>
            <li>
              <%= link_to "User Assets", user_assets_path %>
            </li>
          <% else %>
            <li><%= link_to "Sign up", new_registration_path(:user) %></li>
          <% end %>
      </ul>

      <ul id="user-menu" class="nav pull-right">
        <% if user_signed_in? %>
            <li>
              <%= gravatar_for current_user.email, :size => 20 %>
              </li>
              <li>
              <%= link_to current_user.email, edit_user_password_path(current_user), :class=> 'view_user' %>
              </li>
          <li>
            <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>
            </li>

         <% else %>
           <li>

           <%= form_for(User.new, :as => :user, :url => session_path(:user), :html => {:class => 'navbar-form'}) do |f| %>
             <%= f.text_field :email, :size => 5, :placeholder => "email", :class => 'nav-dark' %>

             <%= f.password_field :password, :size => 5, :placeholder => "password", :class => 'nav-dark' %>

             <%= f.hidden_field :remember_me, :value => true%>
  
           <%= f.submit "Sign in" %>
          <% end %>
          </li>

          <% end %>

        </li>
      </ul>
      </div>
    </div>
  </div>

