<!DOCTYPE html>
<html>
<head>
  <title>CoveElan</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <script>
      _V_.options.flash.swf = "/video-js.swf"
    </script>
</head>
<body>
  <div class="wrapper">

    <%= render 'layouts/navbar' %>
    <%= render 'layouts/alerts' %>

    <div class="container card">
      <%= yield %>
    </div>
  
    <div class="push"><!--//--></div> 
  </div>

</body>
</html>
