<!DOCTYPE html>
<html>
<head>
  <title>CoveElan</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">

    <%= render 'layouts/navbar' %>
    <%= render 'layouts/alerts' %>

    <div class="container card">
      <%= yield %>
    </div>
  
    <div class="push"><!--//--></div> 
  </div>
  <footer class="container-fluid">
    <p>Boom</p>
  </footer>
</body>
</html>
